---
layout: generic
title: Articles
description: All articles in reverse chronological order.
eleventyNavigation:
  key: Articles
  order: 2
pagination:
  data: collections.articlesByTimestamp
  size: 20
  alias: posts
  reverse: true 
---

<p>This page lists all articles in reverse chronological order. Use the
  <a href="/categories/">Categories</a>
  page to view the list of categories or
  <a href="/search/">Search</a>
  to locate a particular article.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  <li>{% include 'ai-disclaimer.html' %}</li>
  {% for post in posts %}
    <li>
      <h4>
        <a href="{{ post.url }}" style="cursor: pointer">{{ post.data.title }}</a>
      </h4>
      <strong>{{ post.data.timestamp | readableTimestamp }} {% if post.data.categories.length > 0 %}in
          {% for cat in post.data.categories %}
          <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>
          {%- unless forloop.last %},
          {% endunless %}
        {% endfor %}
      {% endif %}
      </strong>
      <br/>
      {% if post.data.description %}
        {% include 'generated.html' %}
      {% else %}
        {% excerpt post %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %} 
