---
layout: generic
title: Reviews
heroText: 
eleventyNavigation:
  key: Reviews
  parent: Articles
  order: 3
pagination:
  data: collections.allReviews
  size: 20
  alias: reviews
  reverse: true 
---
  
{% include 'ai-disclaimer.html' %}
{% include 'pagination-count.html' %}

<ul class="posts">
  {% for review in reviews %}
    <li>
      <h4>
        <a href="{{ review.url }}" style="cursor: pointer">{{ review.data.title }}</a>
      </h4>
      <strong>Posted:</strong>&nbsp;
      {%- if review.data.timestamp %}
        {{ review.data.timestamp | readableTimestamp }}
      {%- else %}
        {{ review.date | readableDate }}
      {%- endif %}
        {%- if review.data.categories.length > 0 %}
          &nbsp;in 
          {% for cat in review.data.categories %}
            <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>
            {%- unless forloop.last %},{% endunless %}
          {%- endfor %}
        <br/>
        {%- endif %}
      {%- if review.data.description %}
        {% include 'generated.html' %}
      {% else %}
        {% excerpt review %}
      {% endif %}</li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %} 
